.search-dest {
  padding-right: 5px;
}

.search-start {
  padding-right: 33px;
}

.search-form {
  line-height: 2em;
}

.error {
  font-size: 18px;
  padding: 5px 7px;
  width: 90%;
  margin: 0 auto;
  /* border: 1px solid red; */
  border-radius: 5px;
  /* color: red; */
  color: #FC5C66;
  border: 1px solid #FC5C66;
  margin-bottom: 10px;
}

.errButton {
  color: #FC5C66;
  border: 1px solid #FC5C66;
  /* color: red; */
  /* background-color: white; */
  /* border: 1px solid red; */
  border-radius: 5px;
  margin-left: 10px;
  vertical-align: middle;
}

.searchbar {
  background: #22554e;
  border: 1px solid #22554e;
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 21px;
  color: white;
}

@media only screen and (min-width: 700px) {
  .searchbar {
    width: 40%;
  }
}