.searchbar {
  background:rgba(26,32,54,.47);
  border: 1px solid white;
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 21px;
  color: white;
}

@media only screen and (min-width: 700px) {
  .searchbar {
    /* min-width: 554px; */
    width: 40%;
  }
}