.ridesList {
  padding-left: 0px;
}

.single-ride {
  margin: 0 auto;
  list-style-type: none;
  margin-bottom: 15px;
  padding-bottom: 20px;
  border-radius: 10px 10px 5px 5px;
  background:  #1a213a;
  width: 90%;
}

.single-ride a:link, .single-ride a:visited, .single-ride a:hover, .single-ride a:active {
  color: white;
  text-decoration: none;
}

@media only screen and (min-width: 700px) {
  .single-ride {
    margin: 10px 10px;
    width: 25%;
  }

  .ridesList {
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    justify-content: center;
  }
}