.driver-info {
  font-size: 12px;
  border: 1px solid black;
  top: 0px;
  margin-top: 0;
  padding: 5px 5px;
  text-align: left;
  background: #CBEAEF;
  border: #CBEAEF 1px solid;
  color: black;
}

li {
  margin: 0 auto;
  list-style-type: none;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-radius: 5px;
  background: #22554e;
  color: white;
  width: 80%;
}

.locations {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.maps {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media only screen and (min-width: 700px) {
  li {
    width: 25%;
    margin: 10px 10px;
  }
}