h1 {
  font-family: 'Slackey', cursive;
}

.navbar {
  background: rgba(119, 109, 109, 0.226);
  width: 100%;
  padding: 10px 0;
  

}
.navbar{
  /* background-color: rgba(255, 255, 255, .15); */
  backdrop-filter: blur(40px);  
}

.navbar

.navlink {
  margin-left: 5px;
  color: #b8e3ea;
}

.navlink:hover {
  color: #f2de6a;
  transition: 1.3s;
}

@media only screen and (max-width: 400px) {
  .google-button {
    /* margin-left: 10px; */
    margin-top: 10px;
  }
}