h1 {
  font-family: 'Slackey', cursive;
}

.navbar {
  background: #22554e;
  width: 100%;
  padding: 10px 0;
}

.navlink {
  color: #b8e3ea;
}

.navlink:hover {
  color: #f2de6a;
}

/* .logo {
  position: relative;
  top: 3px;
  margin-right: 10px;
  height: 30px;
} */

@media only screen and (max-width: 400px) {
  .google-button {
    margin-top: 10px;
  }
}